CompileFlags:
  CompilationDatabase: .pio/build/esp32-s3-devkitc-1
  Add:
    - "-I/home/boris/.platformio/packages/framework-espidf/components/esp_driver_i2s/include"
  Remove:
    - "-mlongcalls"
    - "-fstrict-volatile-bitfields"
    - "-fno-shrink-wrap"
    - "-fno-tree-switch-conversion"
    - "-fno-jump-tables"
    - "-mdisable-hardware-atomics"
Diagnostics:
  Suppress:
    - unused-includes
    - pp_file_not_found
