.pio
.clang_complete
.gcc-flags.json
.ccls
compile_commands.json
*.old
managed_components
.venv
__pycache__
*.pyc
nn/results/*
!nn/results/kws_results.zip
!nn/results/kws_results_old_1_model.zip
!nn/results/kws_results_19_models.zip
*logs
