# Ядро
tensorflow==2.14.1
tensorflow-model-optimization==0.8.0
numpy==1.26.4
scipy==1.11.4

# Аудио
librosa==0.10.1
soundfile==0.12.1

# ML / анализ
scikit-learn==1.3.2
pandas==2.1.4

# Визуализация
matplotlib==3.8.2
seaborn==0.13.1

# Утилиты
tqdm==4.66.1
tensorboard==2.14.1
protobuf==3.20.3
